html,
body {
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    padding: 0;
    background-color: rgb(17, 15, 15);
    overflow-x: hidden;
}

/* awal navbar tampilan mobile */
.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    width: 100vw;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.navbar-left,
.navbar-right {
    display: flex;
    gap: -1px;
}

.navbar-left .logo img {
    margin-left: 10px;
    border-radius: 50%;
    width: 35px;
    height: 30px;
    pointer-events: none;
    user-select: none;
    -webkit-user-drag: none;
}

.navbar-left .brand-name {
    margin-left: 10px;
    font-family: "Poppins";
    font-size: 18px;
    -webkit-user-select: none;
    /* Chrome, Safari, Opera */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge lama */
    user-select: none;
    /* Standar modern, termasuk Chrome */
}

.navbar-left .brand-name sup {
    font-size: 10px;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 18px;
}

.open-app {
    border: 1px solid white;
    background-color: white;
    cursor: pointer;
    border-radius: 50px;
    padding-top: 6px;
    padding-left: 14px;
    padding-right: 14px;
    padding-bottom: 6px;
    /* mulai lebih besar */
    transform: scale(1.0);
    /* transisi smooth */
    transition: transform 240ms cubic-bezier(0.4, 0, 0.2, 1);
    will-change: transform;
}

.open-app:hover {
    border: 1px solid rgb(219, 211, 211);
    background-color: rgb(219, 211, 211);
    /* saat hover jadi sedikit lebih kecil */
    transform: scale(0.94);
}

.open-app a {
    color: black;
    text-decoration: none;
    font-family: "Poppins";
    font-size: 13px;
    font-weight: 600;
    -webkit-user-select: none;
    /* Chrome, Safari, Opera */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge lama */
    user-select: none;
    /* Standar modern, termasuk Chrome */
}

.menu-icon svg {
    cursor: pointer;
    margin-left: -3px;
    margin-right: 20px;
    width: 32px;
    height: 32px;
    color: white;
    display: block;
}

.menu-icon svg:hover {
    color: gray;
}

.navbar-list {
    display: none;
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    color: white;
    z-index: 2000;
    display: flex;
    flex-direction: column;
    padding: 32px 24px;
    transform: translateX(100%);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: transform;
    opacity: 1;
    pointer-events: none;
}

.menu-overlay.active {
    display: flex;
    transform: translateX(0%);
    pointer-events: auto;
}

.close-icon {
    position: absolute;
    top: 32px;
    right: 32px;
    cursor: pointer;
}

.close-icon svg {
    margin-top: -10px;
    margin-right: 30px;
    width: 40px;
    height: 40px;
    color: white;
}

.close-icon svg:hover {
    color: gray;
}

.navbar-list {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.navbar-list a,
.navbar-list span {
    margin-left: 30px;
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    -webkit-user-select: none;
    /* Chrome, Safari, Opera */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge lama */
    user-select: none;
    /* Standar modern, termasuk Chrome */
}

.navbar-list span {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 18px;
    height: 1.5px;
    background-color: white;
}

.navbar-list a:hover {
    color: gray;
}

.open-app,
.open-app:focus,
.open-app:active {
    outline: none !important;
    -webkit-tap-highlight-color: transparent !important;
    border: none;
    box-shadow: none;
}

.menu-overlay,
.menu-overlay:focus,
.menu-overlay:active {
    outline: none !important;
    -webkit-tap-highlight-color: transparent !important;
    border: none;
    box-shadow: none;
}

.close-icon,
.close-icon:focus,
.close-icon:active {
    outline: none !important;
    -webkit-tap-highlight-color: transparent !important;
    border: none;
    box-shadow: none;
}

.navbar-list,
.navbar-list:focus,
.navbar-list:active {
    outline: none !important;
    -webkit-tap-highlight-color: transparent !important;
    border: none;
    box-shadow: none;
}

/* Batas navbar tampilan mobile*/

.mobile-album-section {
    margin-top: 80px;
    margin-left: 18px;
    font-family: "Poppins";
}

.album-list {
    display: flex;
    flex-direction: row;
    gap: 5px;
    overflow-x: auto;
    padding-bottom: 10px;
    /* opsional, biar scroll bar tidak menutupi gambar */
    scrollbar-width: none;
    padding-right: 15px;
    margin-left: -10px;
}

.album-list,
.album-list:focus,
.album-list:active {
    outline: none !important;
    -webkit-tap-highlight-color: transparent !important;
    border: none;
    box-shadow: none;
}

.album-list::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}

.album {
    color: white;
    text-align: left;
    font-size: 17px;
    text-decoration: none;
    -webkit-user-select: none;
    /* Chrome, Safari, Opera */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge lama */
    user-select: none;
    /* Standar modern, termasuk Chrome */
}

.album-list a {
    box-sizing: border-box;
    cursor: pointer;
    height: 220px;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    color: white;
    text-decoration: none;
    -webkit-user-select: none;
    /* Chrome, Safari, Opera */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge lama */
    user-select: none;
    /* Standar modern, termasuk Chrome */
}

.album-list a:hover {
    background: rgb(28, 29, 29);
}

.album-list a img {
    border-radius: 5px;
    width: 150px;
    height: 150px;
}

.album-list a p {
    width: 150px;
    font-size: 14px;
    margin-top: 6px;
    margin-bottom: 3px;
}

.player-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #181818;
    opacity: 0;
    pointer-events: none;
    z-index: 3000;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(100%); /* posisi awal di bawah */
    transition: transform 0.25s ease-out, opacity 0.25s ease-out;
    color: white;
    font-family: "Poppins";
}

.player-overlay.active {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0); /* naik ke atas */
    display: flex;
}

#desktop-content h1 {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    font-family: "Poppins";
    font-size: 48px;
    color: white;
}